body, html{
  height:100%;
}
body{
  color:#333;
  text-align: center;
  font-family: sans-serif;
  background-color: transparent;
  margin: 0;
  padding: 0;
  /*background-image: url('../img/background.png');*/
/*  background-repeat:repeat;*/
 /* background-size: cover;*/
}
.block{
  padding:0 0;
  margin:0 0;
  background: #00ccff;
  border:1px solid #111;
  border-radius: 3px;
}
button{
  background: gray:
  color:#333;
  border-radius: 3px;
  border:1px solid #ccc;
  margin:.25rem;
}
.pictures{
  width:100vw !important;
  height:100vh !important  ;

}
.controls{
  bottom:10px;
}



  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
  }

.frame{
   z-index: 12;
   position: fixed;
  bottom: 30px;
  right: 30px;
  width:50vw;
}

div#backgrounddiv {
  width: window.innerWidth;
  height: window.innerHeight;
}

img.backgroundimg {
width: window.innerWidth; /*Tells image to fit to width of parent container*/
position: absolute;
right: 0;
bottom: 0;
}

#photocontrols {
  position:   absolute;
  bottom:   0px;
}